.task-container{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center; 
   
}

.task-tracker {
  width: 80%;
  margin: 20px auto;
  text-align: center;
}

.task-form input,
.task-form select,
.task-form button {
  margin: 5px;
  padding: 8px;
}

.task-table {
  width: 100%;
   border-collapse: collapse;
  margin-top: 20px;
}

.task-table th,
.task-table td {
  border: 1px solid #ccc;
  padding: 8px;
}

.filters select {
  margin: 10px;
  padding: 5px;
}
.button{
    margin-top:20px;
    border:none;
    height:40px;
    width:100px;
    background-color: rgb(237, 119, 217);
    border-radius: 10px;
}